<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

    <connectionStrings>
        <add name="connectionStr" 
             connectionString="Data Source=BMO\SQLEXPRESS;Initial Catalog=kgeleta;Persist Security Info=True;User ID=krzysiek;Password=password" />
        <add name="PerformanceTester.Properties.Settings.kgeletaConnectionString"
            connectionString="Data Source=BMO\SQLEXPRESS;Initial Catalog=kgeleta;Persist Security Info=True;User ID=krzysiek;Password=password"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>